body {
  background-color: #F0ECE3;
  color: #C7B198;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #DFD3C3;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #A68DAD;
}

h3 {
  color: #A68DAD;
}

a {
  text-decoration: none;
  color: blue;
}
